@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("../Poppins/Montserrat-Regular.ttf");
}

.header-bg {
  background-color: #5e5a5a;
}

.font2 {
  font-family: sans-serif;
  font-weight: bold;
}

.color1 {
  background-color: whitesmoke;
}

.img1 {
  background-image: url("../images/person.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.text1 {
  text-shadow: 2px 2px 3px black;
}
