@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("../Poppins/Montserrat-Regular.ttf");
}

.header-bg {
  background-color: #5e5a5a;
}

.fonttimes {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.font2 {
  font-family: sans-serif;
  font-weight: bold;
}

.spacing {
  letter-spacing: 0.1em;
}

.color1 {
  background-color: whitesmoke;
}

.img1 {
  background-image: url("../images/person.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.text1 {
  text-shadow: 2px 2px 3px black;
}

.text2:hover {
  text-shadow: 2px 2px 3px black;
}

.trans {
  transition: 1.2s;
}

.listb {
  position: relative;
}

.img5::before {
  content: "";
  background-image: url("../build/images/bullet.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -2em;
  background-color: red;
}
